<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <button @click="visible = !visible">parent 토글</button>
      <parent v-if="visible" />
    </div>
    <script src="https://unpkg.com/vue"></script>
    <script>
      const Child = {
        name: "Child",
        data() {
          return { msg: "" };
        },

        // template 옵션 : 화면에 렌더링할 HTML 구조를 정의
        // - 일반적으로 `` (백틱) 문자열을 사용
        // - 문자열 보간법을 사용할 수 있음
        // - 문자열 보간법 : {{msg}}
        template: `<div>
            자식문자열 : <input type="text" v-model="msg" />
            <button @click="raiseError">자식에서 에러 발생</button>
        </div>`,
        methods: {
          raiseError() {
            throw new Error("의도적 오류 발생!");
          },
        },
        beforeCreate() {
          console.log("## 자식 beforeCreate");
        },
        created() {
          console.log("## 자식 created");
        },
        beforeMount() {
          console.log("## 자식 beforeMount");
        },
        mounted() {
          console.log("## 자식 mounted");
        },
        beforeUpdate() {
          console.log("## 자식 beforeUpdate");
        },
        updated() {
          console.log("## 자식 updated");
        },
        beforeUnmount() {
          console.log("## 자식 beforeUnmount");
        },
        unmounted() {
          console.log("## 자식 unmounted");
        },
      };

      const Parent = {
        name: "Parent",
        data() {
          return { name: "" };
        },
        template: `<div>
            부모문자열 : <input type="text" v-model="name" />
            <child />
        </div>`,
        beforeCreate() {
          console.log("## 부모 beforeCreate");
        },
        created() {
          console.log("## 부모 created");
        },
        beforeMount() {
          console.log("## 부모 beforeMount");
        },
        mounted() {
          console.log("## 부모 mounted");
        },
        beforeUpdate() {
          console.log("## 부모 beforeUpdate");
        },
        updated() {
          console.log("## 부모 updated");
        },
        beforeUnmount() {
          console.log("## 부모 beforeUnmount");
        },
        unmounted() {
          console.log("## 부모 unmounted");
        },
        errorCaptured(error, component, info) {
          console.log("## 부모 errorCaptured 수행 ##");
        },
      };

      let vm = Vue.createApp({
        name: "App",
        data() {
          return { visible: true };
        },

        // errorCaptured : 자식 컴포넌트에서 발생한 에러를 캐치
        // 부모의 부모..? -> 할아버지 느낌...?
        errorCaptured(error, component, info) {
          console.log("## Error : " + error);
        },
      })
        .component("parent", Parent)
        .component("child", Child)
        .mount("#app");
    </script>
  </body>
</html>
