.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(2, minmax(100px, auto));
  grid-auto-rows: 100px;
  column-gap: 1rem;
  row-gap: 1rem;
  /* justify-items: start;
  align-items: start; */
}

.grid-item {
  background-color: #ff5252;
  color: white;
}
.grid-item:nth-child(2n) {
  background-color: #bf5e5e;
}
.grid-item:nth-child(3n) {
  background-color: green;
}
.grid-item:nth-child(4n) {
  background-color: orange;
}
.item2 {
  /* grid-column-start: 2;
  grid-column-end: 4; */
  /* grid-row-start: 1;
  grid-row: 3; */
  grid-column: 2/ 4;
  grid-row: 1/ 3;
}
