.flex-container {
  width: 300px;
  height: 200px;
  background-color: #c4c4c4;
  border: 1px solid black;

  display: flex;
  /* 주축 방향으로 정렬 */
  justify-content: space-evenly;

  /* 교차축 방향으로 정렬 */
  /* align-items: center; */

  /* flex-direction: row; */
  /* flex-wrap: wrap; */
}
.flex-item {
  width: 50px;
  color: white;
  background-color: #ff5252;
}
.flex-item:nth-child(2n) {
  background-color: #bf5e5e;
}
